footer
    div(class="container footer-box")
        div(class="row")
            img(src="img/icons/whatsapp.svg" class="icon")
            p 98989898
        div(class="row")
            img(src="img/icons/email.svg" class="icon")
            p informes@losandes.com